.form-control, .btn {
  font-size: 1.5rem;
}

.btn{
  font-kerning: revert;
  font-weight: bolder;
}

.form-control {
  letter-spacing: 10px;
}

.container-fluid {
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  h1{
    font-size: 40px;
  }
}


