<div class="container-fluid">
  <h1 class="text-center mt-5 display-3">Cijfercode kraker</h1>
  <h2 class="text-center">Uitleg: </h2>
  <p class="text-center">
    Met deze app kun je puzzelen makkelijker maken, vooral cijfer code.
    <br>
    vul een * in voor de letters die je niet weet. Ook kan je invullen welke vakjes gelijk letters moeten hebben door op voeg gelijkenis toevoegen te drukken.
    <br>
    Dan vul je in het eerste en tweede veld in ondergelijkenissen welke vakjes gelijk moeten zijn.
  </p>
  <form class="mt-5" [formGroup]="this.letterForm" (submit)="submitHandler()">
    <h3 class="text-center my-3">Woord Raden: </h3>
    <div class="row">
      <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
        <div class="input-group">
          <input formControlName="value" [value]="letterForm.value.value" type="text" class="form-control">
          <div class="input-group-append">
            <button type="button" [disabled]="this.letterForm.value.value.length === 0" (click)="this.resetValue()" class="btn btn-danger"><i class="fas fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
    <h3 class="text-center my-2">Gelijkenissen: </h3>
    <div class="row" formArrayName="similarities">
      <div class="col-8 offset-2 my-2" *ngFor="let similarity of similarityForms.controls; let i =index" [formGroupName]="i">
        <div class="row">
          <div class="col-4 offset-1">
            <input type="number" min="0" [max]="letterForm.value.value.length" class="form-control" formControlName="first">
          </div>
          <div class="col-4 offset-1">
            <input type="number" min="0" [max]="letterForm.value.value.length" class="form-control" formControlName="second">
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-danger px-3" (click)="removeSimilarity(i);"><i class="fas fa-trash"></i></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 offset-md-4 offset-sm-0 mt-3">
        <button type="button" (click)="addSimilarity()" class="btn btn-dark ml-5">Voeg gelijkenis toe</button>
        <button type="button" class="btn btn-danger ml-5" [disabled]="this.words === undefined" (click)="resetWords()">Verwijder woorden</button>
      </div>
      <div class="col-4 offset-4 mt-5">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="letterForm.invalid">Submit</button>
      </div>
    </div>
  </form>
    <h2 class="text-center">Woorden: </h2>
    <app-list [items]="words"></app-list>
    <i class="fas fa-bars fa-2x menu-btn" (click)="openHistoryTab()"></i>
    <app-history-tab [history]="this.history" *ngIf="this.showHistoryTab"></app-history-tab>
</div>
<app-footer></app-footer>
