<div class="container-fluid">
  <h1 class="text-center mt-5 display-3">Cijfercode kraker</h1>
  <h2 class="text-center">Uitleg: </h2>
  <p class="text-center">
    Met deze app kan je puzzelen makkelijker maken, vooral cijfer code.
    <br>
    vul een * in voor de letters die je niet weet. Ook kan je invullen welke vakjes gelijk letters moeten hebben door op voeg gelijkenis toevoegen te drukken.
    <br>
    Dan vul je in het eerste en tweede veld in ondergelijkenissen welke vakjes gelijk moeten zijn
  </p>
  <form class="mt-5" [formGroup]="this.letterForm" (submit)="submitHandler()">
    <h3 class="text-center my-3">Woord Raden: </h3>
    <div class="row">
      <div class="col-8 offset-2">
        <input formControlName="value" type="text" class="form-control">
      </div>
      <div class="col-12" *ngIf="value.invalid && value.touched">
        <h3 class="text-center text-danger">Je bent vergeten iets in te vullen</h3>
      </div>
    </div>
    <h3 class="text-center my-2">Gelijkenissen: </h3>
    <div class="row" formArrayName="similarities">
      <div class="col-8 offset-2" *ngFor="let similarity of similarityForms.controls; let i =index" [formGroupName]="i">
        <div class="row">
          <div class="col-3">
            <input type="text" class="form-control" formControlName="first">
          </div>
          <div class="col-3 offset-2">
            <input type="text" class="form-control" formControlName="second">
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-danger" (click)="removeSimilarity(i)">Verwijderen</button>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 offset-md-6 offset-sm-0 mt-5">
        <button type="submit" class="btn btn-primary" [disabled]="letterForm.invalid">Submit</button>
        <button type="reset" (click)="resetForm()" class="btn btn-secondary">Reset</button>
        <button type="button" (click)="addSimilarity()" class="btn btn-dark">Voeg gelijkenis toe</button>
        <button type="button" class="btn btn-danger" (click)="resetWords()">Verwijder woorden</button>
      </div>
    </div>
  </form>
    <h2 class="text-center">Woorden: </h2>
    <ul class="mx-auto">
      <li class="text-monospace" *ngFor="let word of words">{{word}}</li>
    </ul>
</div>
<app-footer></app-footer>
