.form-control, .btn {
  font-size: 1.5rem;
}

.btn{
  font-kerning: revert;
  font-weight: bolder;
}

.form-control {
  letter-spacing: 10px;
}

.container-fluid {
  margin-bottom: 100px;
}

.menu-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 9999;
}

app-footer {
  position: relative;
  z-index: 9999;
}

@media only screen and (max-width: 768px) {
  h1{
    font-size: 40px;
  }
}


