.form-control, .btn {
  font-size: 1.5rem;
}

.fas {
  position: relative;
  top: 15px;
  right: 100px;
  font-size: 1.5rem;
  display: inline;
}

.fas:hover {
  color: red;
}

.btn{
  font-kerning: revert;
  font-weight: bolder;
}

.form-control {
  letter-spacing: 10px;
}
